body {
  margin: 0;
}

.gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: radial-gradient(#ed88ef, #ef88bd, #ba88ef);
}

.gradient img {
  opacity: 0.2;
}
