body {
  margin: 0;
}

.gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background:
    linear-gradient(30deg, rgba(237, 136, 239, 0), rgba(237, 136, 239, 1)),
    linear-gradient(140deg, rgba(239, 136, 189, 0), rgba(239, 136, 189, 1)),
    linear-gradient(240deg, rgba(186, 136, 239, 0), rgba(186, 136, 239, 1));
}

.gradient img {
  opacity: 0.2;
}
