{% extends "base.html" %}

{% block rss %}
{% set rss_path = "categories/" ~ term.slug ~ "/rss.xml" %}
{% set atom_path = "categories/" ~ term.slug ~ "/atom.xml" %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ get_url(path=rss_path, trailing_slash=false) }}" />
<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ get_url(path=atom_path, trailing_slash=false) }}" />
{% endblock rss %}

{% block content %}
<div class="title">
	<h1>
		Category: {{ term.name }}
	</h1>
</div>
<div class="toc">
	<ul>
    {% for page in term.pages %}
    <li><a href="{{page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
	</ul>
</div>
{% endblock content %}
