<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.title %}
    {{ page.title }} -
    {% endif %}
    PinkFalcon
  </title>
  <link rel="stylesheet" href="{{ get_url(path="base.css", trailing_slash=false, cachebust=true) }}" />
  {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ get_url(path="rss.xml", trailing_slash=false) }}" />
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" />
  {% endblock rss %}
	{% block meta %} {% endblock %}
</head>

<body>
	<div class="gradient">
		<div class="falcon">
			<img role="presentation" src="/images/falcon.png" />
		</div>
	</div>
	<div class="content">
		{% block content %} {% endblock %}
	</div>
</body>

</html>
