{% extends "base.html" %}

{% block meta %}
<meta property="og:title" content="{{ page.title }} - PinkFalcon" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ config.base_url }}/{{ page.slug }}" />
<meta property="og:article:published_time" context="{{ page.date }}" />
{% endblock meta %}

{% block content %}
<div class="front-matter">
	<h1 class="title">
		{{ page.title }}
	</h1>
	<div class="subtitle">
		<div class="description">{{ page.description }}</div>
		<div class="date">{{ page.date }}</div>
	</div>
  {% if page.taxonomies.categories %}
  <ul class="categories">
  {% for category in page.taxonomies.categories %}
  <li><a href={{ get_taxonomy_url(kind="categories", name=category) }}>{{ category }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
</div>
<main>
{{ page.content | safe }}
</main>
{% endblock content %}
